# Get this from Firebase Console > Project settings > General > Web API Key.
VITE_FIREBASE_API_KEY=UPDATE_ME
# Get this from Firebase Console > Project settings > General > Your apps > App ID.
VITE_FIREBASE_APP_ID=UPDATE_ME
# Get this from Firebase Console > Authentication > Settings > Authorized domains.
VITE_FIREBASE_AUTH_DOMAIN=UPDATE_ME
# Get this from Firebase Console > Project settings > General > Project number.
VITE_FIREBASE_MESSAGING_SENDER_ID=UPDATE_ME
# Get this from Firebase Console > Project settings > General > Project ID.
VITE_FIREBASE_PROJECT_ID=UPDATE_ME
# Get this from Firebase Console > Project settings > General > Default Cloud Storage bucket.
VITE_FIREBASE_STORAGE_BUCKET=UPDATE_ME
VITE_USE_FIREBASE_EMULATORS=true
VITE_FIREBASE_AUTH_EMULATOR_ORIGIN=http://localhost:9099
VITE_FIREBASE_FUNCTIONS_EMULATOR_ORIGIN=http://localhost:5001
VITE_FIREBASE_STORAGE_EMULATOR_HOST=localhost
VITE_FIREBASE_STORAGE_EMULATOR_PORT=9199
FIREBASE_AUTH_EMULATOR_ORIGIN=http://localhost:9099
FIREBASE_STORAGE_EMULATOR_ORIGIN=http://localhost:9199
